<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <img src="{% static 'images/cat1.jpg' %}" height="500px" width="1500px">
</div>
<div class="container-fluid mt-4" style="margin-bottom:80px;">
    <h3 class="text-center">Our Collections</h3>
    <p style="line-height:1.8;text-align:justify;">An eCommerce website is an online destination where buyers shop for goods and sellers offer products and services. It's the hub of information about a company and what they sell. On an eCommerce website, you'll find product listings, eCommerce blog content, company history, and contact information.</p>

</div>
<div class="container-fluid">
<div class="row">
    {% for i in a %}

    <div class="col-sm-4">
<div class="card" style="width:18rem; margin-left:75px;">
  <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="...">
  <div class="card-body">
   <center> <h5 class="card-title" style="font-weight:bold ">{{i.name}}</h5></center>
    <p class="card-text">{{i.des}}</p>
    <center><a href="{% url 'shop:allproducts' i.name %}" class="btn btn-primary">PRODUCTS</a></center>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}